# IntelliJ project files
.idea
*.iml
out
gen

.venv

**/build
**/devel

test

**/dist
**/__pycache__
**/*.egg-info
*.egg
*.pyc
*.pyo
*.pyd
*.log
*.bak
*.swp
*.tmp
*.DS_Store
*.vscode
*.env
.env.*
*.coveragerc
.coverage
.coverage.*
